{{define "detail"}}
<div id="container">
  <div class="row">
    <div class='row'>
      <div class='u-pull-left food-text'>
        <div class="food-name">name</div>
        <div class="food-info">
          <div class="food-hall">hall</div> 
          <div>filters</div>
        </div>
      </div>
      <div class="u-pull-right votes-column">
        <div class='downvote u-pull-left'><i class="fa fa-angle-down fa-2x"></i></div>
        <div class='votes'>votes</div>
        <div class='upvote u-pull-right'><i class="fa fa-angle-up fa-2x"></i></div>
      </div>
     </div>
  </div>
</div>
{{end}}