{{define "home"}}
  <div class="container shaded-bg">
    <div class="row">
      <div id="name">SNIKSNAK</div>
      <div class="filters">
        <div class="row" id="meals">
          <div class="two columns"><div class="filter_label">MEAL</div></div>
          <div class="two columns"><div id='b' class="circle meal">B</div><div class ="filter_name">Breakfast</div></div>
          <div class="two columns"><div id='l' class="circle meal">L</div><div class ="filter_name">Lunch</div></div>
          <div class="two columns"><div id='d' class="circle meal">D</div><div class ="filter_name">Dinner</div></div>
        </div>
        <div class="row" id="halls">
          <div class="two columns"><div class="filter_label">HALL</div></div>
          <div class="two columns"><div id='Rocky/Mathey' class="circle hall">R/M</div><div class ="filter_name">Rocky Mathey</div></div>
          <div class="two columns"><div id='Forbes' class="circle hall">F</div><div class ="filter_name">Forbes</div></div>
          <div class="two columns"><div id='Whitman' class="circle hall">W</div><div class ="filter_name">Whitman</div></div>
          <div class="two columns"><div id='Wu/Wilcox' class="circle hall">W/W</div><div class ="filter_name">Wu Wilcox</div></div>
          <div class="two columns"><div id='CJL' class="circle hall">CJL</div><div class ="filter_name">CJL</div></div>
        </div>
        <div class="row" id="diets">
          <div class="two columns"><div class="filter_label">DIET</div></div>
          <div class="two columns"><div id='Vegan' class="circle filter">V</div><div class ="filter_name">Vegan</div></div>
          <div class="two columns"><div id='Vegetarian' class="circle filter">Ve</div><div class ="filter_name">Vegetarian</div></div>
          <div class="two columns"><div id='Pork' class="circle filter">P</div><div class ="filter_name">Pork-Free</div></div>
          <div class="two columns"><div id='Nuts' class="circle filter">N</div><div class ="filter_name">Nuts-Free</div></div>
        </div>
      </div>
    </div>
    <hr>
    <div id="food-table" class="u-full-width">
       {{range $element := .Foods}}
       <div id='{{$element.Id}}' class='row food {{$element.Meal}} {{$element.Hall}} {{$element.Filters}}'>
        <div class='u-pull-left food-text'>
          <div class="food-name">{{$element.Name}}</div>
          <div class="food-info">
            <div class="food-hall">{{$element.Hall}}</div> 
            <div>{{$element.Filters}}</div>
          </div>
        </div>
        <div class="u-pull-right votes-column">
          <div class='downvote u-pull-left' data-food-id='{{$element.Id}}'><i class="fa fa-angle-down fa-2x"></i></div>
          <div class='votes' data-food-id='{{$element.Id}}'>{{$element.Votes}}</div>
          <div class='upvote u-pull-right' data-food-id='{{$element.Id}}'><i class="fa fa-angle-up fa-2x"></i></div>
        </div>
       </div>
      {{end}}
    </div>
</div>
{{end}}
