{{define "home"}}
<div id="scrolling_back">
  <div id="container">
    <div class="row">
      <div class="six columns"><p class="name">SNIKSNAK</p></div>
      <div id="filter_section" class="six columns">
        <div class="row">
          <div class="two columns"><div class="filter_label">MEAL</div></div>
          <div class="two columns"><div class="circle meal">B</div><div class ="filter_name">Breakfast</div></div>
          <div class="two columns"><div class="circle meal">L</div><div class ="filter_name">Lunch</div></div>
          <div class="two columns"><div class="circle meal">D</div><div class ="filter_name">Dinner</div></div>
        </div>
        <div class="row">
          <div class="two columns"><div class="filter_label">HALL</div></div>
          <div class="two columns"><div class="circle hall">R/M</div><div class ="filter_name">Rocky Mathey</div></div>
          <div class="two columns"><div class="circle hall">F</div><div class ="filter_name">Forbes</div></div>
          <div class="two columns"><div class="circle hall">W</div><div class ="filter_name">Whitman</div></div>
          <div class="two columns"><div class="circle hall">W/W</div><div class ="filter_name">Wu Wilcox</div></div>
          <div class="two columns"><div class="circle hall">CJL</div><div class ="filter_name">CJL</div></div>
        </div>
        <div class="row">
          <div class="two columns"><div class="filter_label">DIET</div></div>
          <div class="two columns"><div class="circle filter">V</div><div class ="filter_name">Vegan</div></div>
          <div class="two columns"><div class="circle filter">Ve</div><div class ="filter_name">Vegetarian</div></div>
          <div class="two columns"><div class="circle filter">P</div><div class ="filter_name">Pork</div></div>
          <div class="two columns"><div class="circle filter">N</div><div class ="filter_name">Nuts</div></div>
        </div>
      </div>
    </div>
    <hr>
    <div id="food-table">
      <table class="u-full-width">
        <thead>
         <tr>
          <th> </th>
          <th>Item</th>
          <th>Dining Hall</th>
          <th>Dietary Options</th>
          <th>Votes</th>
          <th>    </th>
          <th>    </th>
        </tr>
      </thead>
      <tbody>
       {{range $element := .Foods}}
       <tr id='{{$element.Id}}' class='food {{$element.Meal}} {{$element.Hall}} {{$element.Filters}}'>
        <td> </td>
        <td>{{$element.Name}}</td>
        <td>{{$element.Hall}}</td>
        <td>{{$element.Filters}}</td>
        <td class='votes' data-food-id='{{$element.Id}}'>{{$element.Votes}}</td>
        <td class='upvote' data-food-id='{{$element.Id}}'>Yum</td>
        <td class='downvote' data-food-id='{{$element.Id}}'>Ick</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
</div>
</div>
{{end}}
