{{define "home"}}
<div id="container">
      <table>
        <tr>
          <td>
            <div class="eight columns"><p class="name">SNIKSNAK</p></div>
          </td>
          <td>
            <div class="row">
              <div class="two columns">MEAL</div>
              <div class="two columns" id="breakfast">Breakfast</div>
              <div class="two columns" id="lunch">Lunch</div>
              <div class="two columns" id="dinner">Dinner</div>
            </div>
            <div class="row">
              <div class="two columns">HALL</div>
              <div class="two columns" id="roma"><!-- <div id="circle">R/M</div> -->Rocky/Mathey</div>
              <div class="two columns" id="forbes">Forbes</div>
              <div class="two columns" id="whitman">Whitman</div>
              <div class="two columns" id="wucox">Wilson/Butler</div>
            </div>
            <div class="row">
              <div class="two columns">DIET</div>
              <div class="two columns" id="vgn">Vegan</div>
              <div class="two columns" id="vgt">Vegetarian</div>
              <div class="two columns" id="pork">Pork-free</div>
            </div>
          </td>
        </tr>
      </table>
      <div id="food-table">
        <table class="u-full-width">
          <thead>
             <tr>
                <th> </th>
                <th>Item</th>
                <th>Dining Hall</th>
                <th>Dietary Options</th>
                <th>Votes</th>
                <th>    </th>
                <th>    </th>
             </tr>
          </thead>
          <tbody>
             {{range $element := .Foods}}
             <tr id='{{$element.Id}}' data-meal='{{$element.Meal}}' data-hall='{{$element.Hall}}' data-filters='{{$element.Filters}}' >
                <td> </td>
                <td>{{$element.Name}}</td>
                <td>{{$element.Hall}}</td>
                <td>{{$element.Filters}}</td>
                <td class='votes' data-food-id='{{$element.Id}}'>{{$element.Votes}}</td>
                <td class='upvote' data-food-id='{{$element.Id}}'>Yum</td>
                <td class='downvote' data-food-id='{{$element.Id}}'>Ick</td>
             </tr>
             {{end}}
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
       $('.upvote').click(function() {
        var id = $(this).data('food-id')
        var vote = $(this).closest("tr").find('.votes')
        vote.html(parseInt(vote.text())+1);
        $.post( "/api/inc/" + id);
       });
       $('.downvote').click(function() {
        var id = $(this).data('food-id')
        var vote = $(this).closest("tr").find('.votes')
        vote.html(parseInt(vote.text())-1);
        $.post("/api/dec/" + id);
       });
      });
    </script>
{{end}}
