body {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

#name {
    margin-top: 10%;
    width: 100%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-shadow: 5px 5px 20px black;
}

.filters {
    background-color: #EDA455;
}

.hidden {
    display: none;
}

.circle {
    text-align: center;
    margin: 2px auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
}

.highlight {
    border: 2px white solid;
    margin: 0px auto;
}

.filter_name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#filter_section {
    padding: 5%;
    color:white;
    font-family: 'Oswald', sans-serif;
}

#food-table{
    width:100%;
    color:white;
    font-family: 'Oswald', sans-serif;
    border-color: #EDA455;
}

hr {
    margin-top: 0;
}

.vote-column {
    width:30%;
}

.row {
    width: 100%;

}

.food-name {
    font-size: 1.5em;
}

.food-info {
    font-size: .75em;
    color: rgba(255,255,255,0.7);
    padding-bottom: 13px;
}

.votes-column div, .food-info div {
    display: inline;
    padding: 0 8px;
}
.votes {
    text-align: center;
    font-size: 1.5em;
}

#container {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#scrolling_back {
    min-height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.6);
}

.divider {
    background-color:#EDA455;
    height:10px;
}  

@media (max-width: 420px) {
    #name {
        text-align: center;
        font-size: 70px;
    }

    #filter_section {
        width: 100%;
    }

    .circle {
        float: left;
    }

    .food-name, .votes {
        font-size: 1.2em;
    }

  /*  .downvote, .upvote {
        float:right;
    }*/
    .food-text {
        width: 50%;
    }

    .votes {
        float: left;
    }
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media all and (max-width:550px) {
    #name, #filter_section {
        float: none;
    }
}
@media all and (min-width:970px) {
    #scrolling_back {
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
    }
} 