body {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

.name {
    margin: 10% 10% 10% 20%;
	width: 100%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    text-shadow: 5px 5px 20px black;
}

.filters {
    background-color: #EDA455;
}

#circle {
    text-align: center;
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
}

#filter_name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#filter_label {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
}

#filter_section {
    padding: 5%;
}

table {
    width:100%;
    color:white;
    font-family: 'Oswald', sans-serif;
    border-color: #EDA455;
}

#container {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#scrolling_back {
    min-height: 100%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    background:rgba(0,0,0,0.6);
}

.divider {
    background-color:#EDA455;
    height:10px;
}   

#food-table {
    background:rgba(0,0,0, 0.4);
    width: 100%;
}