#today {
	margin: 0 auto;
	padding-left: 5%;
	background: #98AFC7;
	color: white;
	width: 100%;
}

#filter {
	margin: 0 auto;
	padding-left: 10%;
	width: 100%;
	background: #85A3FF;
	color: white;
}

filters_1 {
	background-color: orange;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	height: 35px;
	width: 100px;
}

filters_2 {
	background-color: orange;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	height: 35px;
	width: 100px;
}

filters_3 {
	background-color: orange;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	height: 35px;
	width: 100px;
}

filter_groups {
	background-color: orange;
	display: block;
	width: 100%;
}

all_filters {
	display: block;
	width: 55%;
	
	margin: 0 auto;
}

#name {
	float: left;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 1px 0 0 0;
	width: 100%;
}

#login {
	text-align: right;
	margin: 0;
	padding-right: 3%;
	width: 100%;
}
