#today {
	max-width: 940px;
	margin: 0 auto;
	padding-left: 5%;
	background: #98AFC7;
	color: white;
}

#filter {
	max-width: 940px;
	margin: 0 auto;
	padding-left: 10%;
}

u1 {
	padding-left: 10%;
	padding-right: 10%;
	background-color: orange;
	vertical-align: top;
	display: inline-block;
	width: 100%;
}

#name {
	float: left;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 1px 0 0 0;
	width: 100%;
}

#login {
	text-align: right;
	margin: 0;
	padding-right: 3%;
}
